<div class="row">
	<div class="col-12 col-lg-9 col-xl-9 d-flex">
		<div class="card radius-10 w-100" id="card">
			<div class="card-body">
				<!-- <div class="d-flex align-items-center ms-auto font-13 gap-2 my-3">
		
		</div> -->
				<div class="chart-section">
					<span>ECG</span>
					<div class="chart-container-1">
						<canvas id="chart1"></canvas>
					</div>
				</div>
				<div class="chart-section">
					<span>RESP</span>
					<div class="chart-container-1">
						<canvas id="chart2"></canvas>
					</div>
				</div>
				<div class="chart-section">
					<span>SPO2</span>
					<div class="chart-container-1">
						<canvas id="chart3"></canvas>
					</div>
				</div>

			</div>
			<div
				class="row row-cols-1 row-cols-md-3 row-cols-xl-3 g-0 row-group text-center border-top align-items-center justify-content-center">
				<!-- <div class="row align-items-center justify-content-evenly align-items-center"> -->
				<div class="col-6">
					<div class="info-data-nibp"><sup class="info-label me-1">NIBP</sup>{{pm6750_data?.NIBP.sys_pressure}}<sub
							class="units-label">mmHg</sub></div>
				</div>
				<div class="col-6">
					<div class="info-data-nibp">{{pm6750_data?.NIBP.dia_pressure}}<sub class="units-label">mmHg</sub></div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-12 col-lg-3 col-xl-3 d-flex">
		<div class="card radius-10 overflow-hidden w-100">
			<div class="card-body">

				<div class="container-info p-2">
					<div class="row justify-content-evenly mb-3 top-row-data">
						<div class="col-auto">
							<div class="info-data"><sup class="info-label me-1">HR</sup>{{pm6750_data?.ECG.ECG_status.heart_rate}}<sub
									class="units-label">ppm</sub></div>
							<div class="info-data"><sup class="info-label me-1">RR</sup>{{pm6750_data?.ECG.ECG_status.resp_rate}}<sub
									class="units-label">bpm</sub></div>
							<div class="info-data"><sup class="info-label me-1">SPO<sub>2</sub> </sup>{{pm6750_data?.SPO2.sat_value}}<sub
									class="units-label">%</sub></div>
						</div>
						<div class="col-auto">
							<div class="info-data-mini"><sup class="info-label-mini me-1">Temp</sup>{{pm6750_data?.TEMP.value}}<sub
									class="units-label-mini">°C</sub></div>
							<div class="info-data-mini"><sup class="info-label-mini me-1">Pulso</sup>{{pm6750_data?.SPO2.pulse_rate}}<sub
									class="units-label-mini">ppm</sub></div>
						</div>
					</div>
				</div>
				<!-- <pre>
					{{pm6750_data?|json}}
				</pre> -->
			</div>
			<div class="table-responsive">
				<table class="table align-items-center mb-0">
					<tbody>
						<tr>
							<td><i class="bx bxs-circle me-2" style="color: black"></i> Sonda ECG</td>
							<td>{{pm6750_data?.ECG.ECG_status.lead_status?'Conectada':'Desconectada'}}</td>
						</tr>
						<tr>
							<td><i class="bx bxs-circle me-2" style="color: black"></i>Sonda Temp</td>
							<td> {{pm6750_data?.TEMP.status?'Conectada':'Desconectada'}}</td>
						</tr>
						<tr>
							<td><i class="bx bxs-circle me-2" style="color: black"></i>ECG derivaciones</td>
							<td> {{pm6750_data?.ECG.ECG_status.lead_mode}} derivaciones</td>
						</tr>
						<tr>
							<td><i class="bx bxs-circle me-2" style="color: black"></i>Nivel ST</td>
							<td>{{pm6750_data?.ECG.ECG_status.ST_level}}</td>
						</tr>
						<tr>
							<td><i class="bx bxs-circle me-2" style="color: black"></i>Modo paciente NIBP</td>
							<td>{{pm6750_data?.NIBP.patient_mode}}</td>
						</tr>
						<tr>
							<td><i class="bx bxs-circle me-2" style="color: black"></i>SPO2 estado</td>
							<td>{{pm6750_data?.SPO2.status}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div><!--End Row-->
<!-- <pre>
	{{pm6750_data|json}}
</pre>  -->