<div class="bg-login">
	<!--wrapper-->
	<div class="wrapper">
		<div class="d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="col mx-auto">
						<div class="my-4 text-center">
							<img src="assets/images/logo-icon-2.png" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Registrarse</h3>
										<p>Ya tienes una cuenta? <a routerLink="/auth/sign-in">Inicia sesión aquí</a>
										</p>
									</div>
						
									<div class="form-body">
										<form [formGroup]="registerForm" (ngSubmit)="register()" class="row g-3">
											<div class="col-sm-6">
												<label for="inputFirstName" class="form-label">Nombre</label>
												<input type="text" class="form-control" id="inputName" placeholder="Ingrese un nombre" formControlName="name">
											</div>
											<div class="col-sm-6">
												<label for="inputLastName" class="form-label">Apellido</label>
												<input type="text" class="form-control" id="inputLastName" placeholder="Ingrese un apellido" formControlName="lastname">
											</div>
											<div class="col-12">
												<label for="inputEmailAddress" class="form-label">Dirección de correo</label>
												<input type="email" class="form-control" id="inputEmailAddress" placeholder="Ingrese un correo" formControlName="email">
											</div>
											<div class="col-12">
												<label for="inputChoosePassword" class="form-label">Contraseña</label>
												<div class="input-group" id="show_hide_password_1">
													<input type="password" class="form-control border-end-0" id="inputChoosePassword" placeholder="Ingrese una contraseña" formControlName="password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
											</div>
											<div class="col-12">
												<label for="inputChoosePassword" class="form-label">Repetir contraseña</label>
												<div class="input-group" id="show_hide_password_2">
													<input type="password" class="form-control border-end-0" id="inputChoosePassword" placeholder="Repite la contraseña" formControlName="repeat"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
											</div>
										
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-primary"><i class='bx bx-user'></i>Registrarse</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
</div>