<!--start switcher-->
<div class="switcher-wrapper">
	<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
	</div>
	<div class="switcher-body">
		<div class="d-flex align-items-center">
			<h5 class="mb-0 text-uppercase">Panel de control</h5>
			<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
		</div>
		<div>

		</div>
		<hr />
		<h6 class="mb-0">ECG config</h6>
		<hr />
		<div class="row">
			<div class="col-6">
				<label class="form-label">Forma de onda:</label> <br>
				<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2 me-2"><i
						class="bx bx-play-circle"></i></button>
				<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
						class="bx bx-pause-circle"></i></button>
			</div>
			<div class="col-6">
				<label class="form-label">Parámetros:</label> <br>
				<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2 me-2"><i
						class="bx bx-play-circle"></i></button>
				<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
						class="bx bx-pause-circle"></i></button>
			</div>
			<div class="mb-3"></div>
			<div class="col-12">
				<label class="form-label">Número de derivaciones:</label>
				<select aria-label="Default select example" class="form-select mb-3">
					<option selected="">Seleccionar derivaciones</option>
					<option value="0">3 derivaciones</option>
					<option value="1">5 derivaciones</option>
				</select>
			</div>
			<div class="col-12">
				<label class="form-label">Ganancia:</label>
				<select aria-label="Default select example" class="form-select mb-3">
					<option selected="">Seleccionar ganancia</option>
					<option value="0">x0.25</option>
					<option value="1">x0.5</option>
					<option value="2">x1</option>
					<option value="3">x2</option>
				</select>
			</div>
			<div class="col-12">
				<label class="form-label">Modo de filtrado:</label>
				<select aria-label="Default select example" class="form-select mb-3">
					<option selected="">Seleccionar modo</option>
					<option value="0">operación</option>
					<option value="1">monitor</option>
					<option value="2">diagnóstico</option>
				</select>
			</div>
			<hr />
			<h6 class="mb-0">NIBP config</h6>
			<hr />
			<div class="row">
				<div class="col-auto">
					<label class="form-label">Parámetros:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
				<div class="col-auto">
					<label class="form-label">Modo paciente:</label>
					<select aria-label="Default select example" class="form-select mb-3">
						<option selected="">Seleccionar tipo</option>
						<option value="0">Adulto</option>
						<option value="1">Niño</option>
					</select>
				</div>
				<div class="col-auto">
					<label class="form-label">Presión brazalete:</label>
					<input type="number" placeholder="(0 - 300 mmHg)" class="form-control mb-3">
				</div>
				<div class="col-auto">
					<label class="form-label">Modo de filtrado:</label>
					<select aria-label="Default select example" class="form-select mb-3">
						<option selected="">Seleccionar modo</option>
						<option value="0">operación</option>
						<option value="1">monitor</option>
						<option value="2">diagnóstico</option>
					</select>
				</div>
			</div>
			<hr />
			<h6 class="mb-0">SPO2 y Temp config</h6>
			<hr />
			<div class="row">
				<div class="col-auto">
					<label class="form-label">Parámetros SPO2:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
				<div class="col-auto">
					<label class="form-label">Forma de onda SPO2:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
				<div class="col-auto">
					<label class="form-label">Parámetros Temperatura:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
			</div>
			<hr />
			<h6 class="mb-0">SPO2 config</h6>
			<hr />
			<div class="row">
				<div class="col-auto">
					<label class="form-label">Parámetros:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
				<div class="col-auto">
					<label class="form-label">Forma de onda:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
			</div>
			<hr />
			<h6 class="mb-0">RESP config</h6>
			<hr />
			<div class="row">
				<div class="col-auto">
					<label class="form-label">Ganancia:</label> <br>
					<select aria-label="Default select example" class="form-select mb-3">
						<option selected="">Seleccionar ganancia</option>
						<option value="0">x0.25</option>
						<option value="1">x0.5</option>
						<option value="2">x1</option>
						<option value="3">x2</option>
					</select>
				</div>
				<div class="col-auto">
					<label class="form-label">Forma de onda:</label> <br>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-play-circle"></i></button>
					<button type="button" class="btn btn-outline-secondary ctrl-panel-btn px-2"><i
							class="bx bx-pause-circle"></i></button>
				</div>
			</div>
			<hr />
			<h6 class="mb-0">Theme Styles</h6>
			<hr />
			<div class="d-flex align-items-center justify-content-between">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
					<label class="form-check-label" for="lightmode">Light</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
					<label class="form-check-label" for="darkmode">Dark</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
					<label class="form-check-label" for="semidark">Semi Dark</label>
				</div>
			</div>
			<hr />
			<div class="form-check">
				<input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
				<label class="form-check-label" for="minimaltheme">Minimal Theme</label>
			</div>
			<hr />
			<h6 class="mb-0">Header Colors</h6>
			<hr />
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator headercolor1" id="headercolor1"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor2" id="headercolor2"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor3" id="headercolor3"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor4" id="headercolor4"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor5" id="headercolor5"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor6" id="headercolor6"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor7" id="headercolor7"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor8" id="headercolor8"></div>
					</div>
				</div>
			</div>

			<hr />
			<h6 class="mb-0">Sidebar Backgrounds</h6>
			<hr />
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<!--end switcher-->